.idea/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv-docker-vm/
logs/

# Docker
.env
.env.*
!.env.example
docker-compose.override.yml


#Ignore vscode AI rules
.github\copilot-instructions.md
.github/copilot-instructions.md
